{% extends "index.html" %}
{% block script %}

{% endblock script %}


{% block my_content %}

<div class="contianer-fluid">
    <div class="col" style="padding-left:80px; padding-top:50px;">
        <h1 style="color:white" >Methodology</h1>   
        <p style="color:white"> Coin Prophet uses a LSTM NEURAL Network to predict the best closing prices for various cryptocurriencies.</p>
        <p style="color:white"> The neural network takes 34 seperate parameters and projects the next 24 periods. (5 min closes, 15 min closes, 30 min closes, 1hr closes) </p>
        <p style="color:white">Models are trained on individual coins and individual time intervals. For example, ETHUSD at 5m is not mixed with ETHUSD at 30m.</p>
    </div> 
    <div class="col" style="padding-left:80px; padding-top:50px;padding-right:80px;">   
        <table class="table table-dark" >
            <thead>
                <tr>
                
                    <th>Technical Indicators</th>
                    
                    <th>Explanation</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>RSI </td>
                    <td>Momentum indicator that measures the magnitude of recent price changes to analyze overbought or oversold conditions.</td>
                </tr>
                <tr>
                   
                    <td>MacD</td>
                    <td>Measures strength of asset trend by detecting momentum based on exponetial moving average.</td>
                    
    
                </tr>
                <tr>
                    <td>ADX </td>
                    <td>Measures price velocity.</td>

                </tr>
                <tr>
                    <td>Aroon Ocilltor</td>
                    <td>Measures number of periods since a price high or low.</td>

                </tr>
                <tr>
                    <td>AD</td>
                    <td>Uses volume and price to assess whether an asset is being accumlated or distriubuted.</td>

                </tr>
                
                <tr>
                    <td>ADOSC</td>
                    <td>Cumulative indicator that uses volume and price to assess whether a asset is being accumulated or distributed.</td>
                </tr>
               
                <tr>
                    <td> OBV </td>
                    <td> Momentum indicator that uses volume flow to predict changes in asset price.</td>
                </tr>
                <tr>
                    <td>NATR</td>
                    <td>Measures asset volatility.</td>
                </tr>
                <tr>
                    <td>TWO_CROWS</td>
                    <td>Pattern Recognition</td>
                   
                </tr>
                <tr>
                   
                    <td>THREE_BLACK_CROWS</td>
                    <td>Pattern Recognition</td>
                    
                    
    
                </tr>
                <tr>
                    <td>THREE INSIDEUP DOWN </td>
                    <td>Pattern Recognition</td>
                    
    
                </tr>
                <tr>
                    <td>THREE LINE STRIKE</td>
                    <td>Pattern Recognition</td>
                    
    
                </tr>
                <tr>
                    <td>THREE OUTSIDE</td>
                    <td>Pattern Recognition</td>
                   
    
                </tr>
                
                <tr>
                    <td>THREE STARS IN SOUTH</td>
                    <td>Pattern Recognition</td>
                   
               
                <tr>
                    <td> THREE WHITE SOLDIERS </td>
                    <td>Pattern Recognition</td>
                    
                <tr>
                    <td>ABANDONED BABY</td>
                    <td>Pattern Recognition</td>
                    
                </tr>
                




            </tbody>
        </table>    
            
            
          
      
            

        
    </div>
</div>




{% endblock my_content %}